@import "../../styles/globals";

.search-box-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-block-start: 285px;
  background-color: $background;
}

.search-box {
  background-color: #fff;
  position: relative;
  width: 605px;
  border: 1px solid $grey-3;
  height: fit-content;
  border-radius: $radius;
  &.focus {
    box-shadow: 0 4px 24px #12263f0f;
  }
  form {
  }
  .controller-area {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .submit-button {
    height: $default-el-height;
    position: absolute;
    top: 0;
    border-radius: $radius;
    left: calc(100% + 16px);
    width: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-transform: capitalize;
    background-color: $primary;
    color: #fff;
  }
}

.png-icon {
  padding: 0 24px;
}