// Todo: replace this font becouse that "s" & "a" broken
// --------------
// CerebriSansPro font Family
// --------------
@font-face {
    font-family: CerebriSansPro;
    font-weight: 700;
    src: url('../../assets/fonts/CerebriSansPro/CerebriSansPro-Bold.ttf') format("truetype");
}
@font-face {
    font-family: CerebriSansPro;
    font-weight: 400;
    src: url('../../assets/fonts/CerebriSansPro/CerebriSansPro-Regular.ttf') format("truetype");
}
