@import "../../styles/globals";

ul.search-list {
    border-block-start: 1px solid $grey-2;

    animation: fade 0.5s, collaps 0.2s;
    max-height: $search-list;
    padding: 16px 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes collaps {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
